<div data-controller="form" class="form-container">
  <%= form_with(model: [room, message], id: 'message_form', class: 'message-form', data: { controller: 'form', action: 'submit->form#resetComponent' }) do |f| %>
    <div class="form-fields">
      <%= f.text_field :text, class: 'message-input' %>
      <%= f.submit class: 'submit-button' %>
    </div>
  <% end %>
</div>
