<%= turbo_frame_tag "message_#{@message.id}", class: 'message-container' do %>
  <div class="message-container">
    <%= render 'messages/form', { room: @room, message: @message } %>
  </div>
<% end %>
