<style>
  .message-container {
    background-color: #cbd5e0;
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
</style>

<%= turbo_frame_tag "message_#{@message.id}", class: 'message-container' do %>
  <div class="message-container">
    <%= render 'messages/form', { room: @room, message: @message } %>
  </div>
<% end %>
