<div class="alerta-anuncio">
  ¡Los mejores productos para ti!
</div>

<nav class="nav-home">
  <div class="usuario-acceso">
      <%= image_tag "buhologo.png", alt: "odin-logo" %>
      <div>
          <button class="boton-verde" id="registrarse-boton">Registrarse</button>
          <button id="iniciar-sesion-boton">Iniciar sesión</button>
          <%#= link_to new_product_path, class: "green-sale-button" do %>
            <!-- Registrarse -->
          <%# end %>
      <%# if user_signed_in? %>
        <%#= button_to "LOGOUT", destroy_user_session_path, method: :delete, data: { confirm: "¿Estás seguro de que deseas cerrar sesión?" }, class: "btn-sessions" %>
      <%# else %>
        <%#= link_to  "Iniciar sesion", sessions_new_path, class:"button-sessions"%>
      <%# end %>
      </div>
  </div>
</nav>
