<nav class="header">
  <div class="nav-items-bar">
    <%= image_tag ("logo.png"), class:"logo"%>
  </div>
  <div class="nav-items-bar">
    Odin store
  </div>
  <div class="nav-items-bar">
    <a href="#">AUTOS</a>
  </div>
  <div class="nav-items-bar">
    <a href="#">PROPIEDADES</a>
  </div>
  <div class="nav-items-bar">
    <div class="btn-deco">
      <a href="#">Si aun no tienes cuenta, registrate!</a>
    </div>
  </div>
  <div class="header-btn btn-color">
    <a href="#">Sign In</a>
  </div>
  <div class="header-btn btn-color">
    <a href="#">Sign Out</a>
  </div>

</nav>



 <div class="header-bottom">
    <div class="nav-search">
      <b>Que estas buscando hoy </b>
    </div>
    <div class="nav-search">
      <input type="search" class="search-ui" placeholder="ingrese su busqueda">
    </div>
  </div>
