<div class="header-bottom-bar">
  <div>
    <ul class="navbar-menu-cat">
      <li class="li-menu">Todas las categorias</b> <i class="fa-solid fa-angle-down"></i></li>
    <li class="li-menu">Telefonos</li>
    <li class="li-menu">Autos</li>
    <li class="li-menu">Motocicletas</li>
    <li class="li-menu">TV - Audio - Videos</li>
    <li class="li-menu">Tables</li>
  </ul>
</div>
</div>
