<div class="header">
  <div class="content">
    <div class="top-bar-items">
      <%= image_tag 'logo.png', class:"logo"%>
    </div>
    <div class="top-bar-items">
      <a href="#"><i class="fa-solid fa-car"></i>Motors</a>
    </div>
    <div class="top-bar-items">
      <a href="#"><i class="fa-solid fa-building"></i> Property</a>
    </div>
  </div>
  <div class="header-bottom">
    <div class="content">
      <div class="top-bar-items">
        <%= image_tag 'logo2.png', class:"logo2"%>
      </div>
      <div class="top-bar-items">
        <select name="" id="" class="selectInput">
          <option value="BU">Bucaramanga</option>
          <option value="BO">Bogota</option>
          <option value="CA">Cali</option>
        </select>
      </div>
      <div class="top-bar-items">
        <input type="search" class="selectInput search" placeholder="Encuentra autos, casas y mucho mas ...">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="top-bar-items">
        <i class="fa-regular fa-comment top-bar-icons"></i>
        <i class="fa-regular fa-bell top-bar-icons"></i>
        <button class="sell-button"> <i class="fa-solid fa-plus"></i> Vender</button>
      </div>
    </div>
  </div>
</div>
<div class="header-bottom-bar">
  <div>
    <ul class="navbar-menu-cat">
      <li class="li-menu">Todas las categorias</b> <i class="fa-solid fa-angle-down"></i></li>
    <li class="li-menu">Telefonos</li>
    <li class="li-menu">Autos</li>
    <li class="li-menu">Motocicletas</li>
    <li class="li-menu">TV - Audio - Videos</li>
    <li class="li-menu">Tables</li>
  </ul>
</div>
</div>
