<div role="presentation" class="MuiDialog-root jss1275 jss2902" style="position: fixed; z-index: 1300; inset: 0px;"><div class="MuiBackdrop-root" aria-hidden="true" style="opacity: 1; transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;"></div><div tabindex="0" data-test="sentinelStart"></div><div class="MuiDialog-container MuiDialog-scrollPaper" role="none presentation" tabindex="-1" style="opacity: 1; transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;"><div class="MuiPaper-root MuiDialog-paper MuiDialog-paperScrollPaper MuiDialog-paperWidthSm MuiPaper-elevation24 MuiPaper-rounded" role="dialog"><div class="MuiDialogTitle-root jss2915"><h2 class="MuiTypography-root MuiTypography-h6"><p class="jss65 jss71 jss2922">Compartir</p><div class="MuiBox-root jss2932 jss2916"><svg class="icon icon-close " width="16" height="16" fill="#506585"><use href="/assets/svg/sprites.svg#icon-close" xlink:href="/assets/svg/sprites.svg#icon-close"></use></svg></div></h2></div><div class="MuiDialogContent-root jss2933 jss2903"><div class="MuiBox-root jss2934"><p class="jss65 jss72 jss2941 jss2904">Redes sociales</p><div class="MuiBox-root jss2950 jss2905"><a class="MuiButtonBase-root MuiIconButton-root jss2906" tabindex="0" aria-disabled="false" aria-label="Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://fincaraiz.com.co/proyecto-de-vivienda/living-43/garcia-rovira/bucaramanga/10231383" title="Compartir por Facebook"><span class="MuiIconButton-label"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="#506585"><path d="M18.14 7.17a.5.5 0 00-.37-.17H14V5.59c0-.28.06-.6.51-.6h3a.44.44 0 00.35-.15.5.5 0 00.14-.34v-4a.5.5 0 00-.5-.5h-4.33C8.37 0 8 4.1 8 5.35V7H5.5a.5.5 0 00-.5.5v4a.5.5 0 00.5.5H8v11.5a.5.5 0 00.5.5h5a.5.5 0 00.5-.5V12h3.35a.5.5 0 00.5-.45l.42-4a.5.5 0 00-.13-.38z"></path></svg></span><span class="MuiTouchRipple-root"></span></a><a class="MuiButtonBase-root MuiIconButton-root jss2906" tabindex="0" aria-disabled="false" aria-label="Whatsapp" target="_blank" href="https://api.whatsapp.com/send?text=¡Fíjate en este inmueble en Fincaraiz.com.co! https://fincaraiz.com.co/proyecto-de-vivienda/living-43/garcia-rovira/bucaramanga/10231383"><span class="MuiIconButton-label"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="#506585"><path d="M12 .09A12 12 0 000 12a11.74 11.74 0 002.14 6.77l-1.35 4a.5.5 0 00.12.51.51.51 0 00.51.13l4.2-1.33A12 12 0 0024 12 12 12 0 0012 .09zm7.2 16.72a3.91 3.91 0 01-3.5 2.09 10.71 10.71 0 01-3.45-1 14 14 0 01-5.95-5.16c-1.91-2.53-2-4.9-.16-6.86A2.17 2.17 0 018 5.32a1.54 1.54 0 011.21.87l.38.92.63 1.51a1.1 1.1 0 010 1 5.14 5.14 0 01-1 1.37 12.41 12.41 0 001.79 2.15 9.06 9.06 0 002.73 1.63c.28-.36.83-1 1-1.27a1 1 0 011.34-.36c.38.14 2.51 1.18 2.51 1.18a1.43 1.43 0 01.68.49 2 2 0 01-.07 2z"></path></svg></span><span class="MuiTouchRipple-root"></span></a><a class="MuiButtonBase-root MuiIconButton-root jss2906" tabindex="0" aria-disabled="false" aria-label="Linkedin" target="_blank" href="https://www.linkedin.com/shareArticle/?url=https://fincaraiz.com.co/proyecto-de-vivienda/living-43/garcia-rovira/bucaramanga/10231383"><span class="MuiIconButton-label"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="#506585"><rect x="2" y="8.5" width="5" height="14" rx="0.5" ry="0.5"></rect><ellipse cx="4.48" cy="4" rx="2.48" ry="2.5"></ellipse><path d="M18.5 22.5h3a.5.5 0 00.5-.5v-8.4C22 9.83 19.87 8 16.89 8a4.21 4.21 0 00-3.17 1.27A.41.41 0 0113 9a.5.5 0 00-.5-.5h-3A.5.5 0 009 9v13a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-7.5a2.5 2.5 0 015 0V22a.5.5 0 00.5.5z"></path></svg></span><span class="MuiTouchRipple-root"></span></a></div><hr class="MuiDivider-root jss2907"></div><div class="MuiBox-root jss2951"><p class="jss65 jss72 jss2958 jss2908">Copiar enlace</p><div class="MuiBox-root jss2967 jss2909"><div class="MuiBox-root jss2968 jss2910"><p class="jss65 jss74 jss2977 jss2911">https://fincaraiz.com.co/proyecto-de-vivienda/living-43/garcia-rovira/bucaramanga/10231383</p></div><button class="MuiButtonBase-root MuiButton-root MuiButton-outlined jss2912 MuiButton-outlinedSecondary" tabindex="0" type="button"><span class="MuiButton-label">Copiar</span></button></div><div class="MuiBox-root jss2984 jss2913 jss2914"><div class="MuiBox-root jss2985"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="#11D60A"><path d="M12 0a12 12 0 1012 12A12.014 12.014 0 0012 0zm6.927 8.2l-6.845 9.289a1.011 1.011 0 01-1.43.188l-4.888-3.908a1 1 0 111.25-1.562l4.076 3.261 6.227-8.451a1 1 0 111.61 1.183z"></path></svg><p class="jss65 jss76 jss2996">Enlace copiado</p></div></div></div></div></div></div><div tabindex="0" data-test="sentinelEnd"></div></div>


<style>
@media (min-width: 600px)

.jss1275 .MuiDialog-container > .MuiPaper-root {
  max-width: 610px;
  min-width: 420px;
  box-shadow: 0px 28px 25px rgba(93, 124, 152, 0.1), 0px 35px 33px rgba(80, 101, 133, 0.03), 0px 45px 38px rgba(80, 101, 133, 0.02);
  max-height: 600px;
  border-radius: 8px 32px 32px 32px;
}

.jss1275 .MuiDialog-container > .MuiPaper-root {
  min-height: 289px;
}

.jss2902 .MuiPaper-root {
  max-width: 420px;
}

.MuiDialog-paperWidthSm {
  max-width: 600px;
}

.MuiDialog-paperScrollPaper {
  display: flex;
  max-height: calc(100% - 64px);
  flex-direction: column;
}

.MuiDialog-paper {
  margin: 32px;
  position: relative;
  overflow-y: auto;
}

.MuiPaper-elevation24 {
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
}

.MuiPaper-rounded {
  border-radius: 4px;
}

.MuiPaper-root {
  color: #082645;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #FFFFFF;
}

user agent stylesheet
div {
  display: block;
}
</style>