<style>
  .side-nav {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #90cdf4;
  }
</style>

<%= turbo_stream_from 'user_rooms_channel' %>
<%= turbo_stream_from 'room_details_channel' %>

<nav class="side-nav">
  <%= render 'shared/user_rooms' %>
  <%= render 'shared/create_room' %>
</nav>
