<section class="user-section">
  <span class="user-info">Usuario: <strong><%= current_user.first_name %></strong></span>
  <div class="logout-button">
    <%= button_to 'Log out', destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'logout-button-style' %>
  </div>
  <h3 class="section-title">My Rooms</h3>

  <div class="user-rooms" id="user_<%= current_user.id %>_rooms">
    <% current_user.rooms.all.each do |room| %>
      <%= render 'shared/room', room: room %>
    <% end %>
  </div>
</section>
