<p style="color: green"><%= notice %></p>


<div id="leads">
  <% @leads.each do |lead| %>
    <% lead.each do |object| %>
      <h1><%= object.user.first_name %></h1>
    <% end %>

    <p>
      <%#= link_to "Show this leads", lead %>
    </p>
  <% end %>
</div>

<%= link_to "New product", new_lead_path %>
