<div class="productos" id="productos">
  <% @products.each do |product| %>
    <div class="producto-item">
      <div class="imagen">
        <% if product.images.attached? %>
          <% product.images.each do |image| %>
            <%= image_tag image, class: "product-image", alt: product.name, loading: "lazy", style: "max-width: 100%; height: auto;", loading: "lazy" %>
          <% end %>
        <% else %>
          <img src="        https://a0.muscache.com/im/pictures/miso/Hosting-839082319949828593/original/b239acdd-8dbf-403e-bad4-fa8e05b94b44.jpeg?im_w=960
" alt="Default Image">
        <% end %>
      </div>
      <div class="header-item">
        <h4><%= product.name %></h4>
        <p style="color: #333;">Medellin Colombia</p>
        <p style="color: #888;"><%= product.created_at.strftime("%B %e, %Y %l:%M %p") %></p>
      </div>
      <div class="precio-info">
        <div class="price-information">
          <span style="color: #000; background-color: #fff;">$ <%= product.price %> COP</span>
        </div>
      </div>
    </div>
  <% end %>
</div>
