<div class="container-show">
  <div class="text-side">
    <h2>Oportunidad unica!</h2> </br>
    <h2>Producto: <%= @product.name %></h2> </br>
    <p>Descripcion: <%= @product.description %></p></br>
    <p>Precio: <%= number_to_currency(@product.price) %></p>
  </div>
  <div class="image-side">
    <%= image_tag 'car.png' %>
  </div>
</div>
