<div class="screen-alert" id="screen-alert">
  <div class="alert-box">
      <img src="../../assets/images/Contenido/Cerrar.svg" alt="" id="x-cerrar-alerta">
        <h2>¿Está seguro que desea eliminar este producto?</h2>
      <div class="botones">
        <button class="aceptar">Aceptar</button>
        <button class="cerrar" id="boton-cerrar">Cerrar</button>
      </div>

    </div>
</div>


<style>


  @font-face {
    font-family: 'Cross-normal';
    src: url('../assets/crossten-cufonfonts/CrosstenLight.otf') format('truetype');
  }  

  h2{
    text-align: center;
    font-family: 'Cross-normal';
    padding: 1rem 0  0;
    margin: 0;
    font-size: 18px;
  }

.screen-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  padding: 0rem 0;
}

.screen-alert .alert-box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
  background: #fff;
  width: 350px;
  border-radius: 12px;
}



button{
  margin: 16px 6px;
  border: none;
  padding: 4px;
  width: 120px;
  border-radius: 6px;
  color: white;
  font-size: 18px;
}

img{
    height: 20px;
    position: absolute;
    right: 0.8rem;
    top: 8px;
    cursor: pointer;
  }

  .aceptar{
    background: var(--azul-principal);
  }

  .cerrar{
    background:var(--rojo-principal);
  }

</style>