<div class="screen-alert" id="screen-alert">
    <div class="box-alert">
        <img src="../../assets/images/Contenido/Cerrar.svg" class="cerrar" alt="" id="x-cerrar-alerta">
        <h2>Vender</h2>
        <strong>Tu información</strong>
        <p>Ingresa tu información para que futuros compradores
            se contacten contigo
        </p>
        <form id="form-registrate">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Celular">
            <input type="text" placeholder="Correo electrónico">

            <p>Ingresa la información del producto que quieres vender.</p>

            <select name="" id="">
                <option value="" disabled selected hidden>Categoria</option>
                <option value="vehiculos">vehiculos</option>
                <option value="inmuebles">inmuebles</option>
                <option value="alquiler">alquiler</option>
                <option value="servicios">servicios</option>
                <option value="electronica">electronica</option>
                <option value="tecnologia">tecnologia</option>
                <option value="muebles">muebles</option>
                <option value="deportes">deportes</option>
                <option value="belleza">belleza</option>
                <option value="niños">niños</option>
                <option value="libros">libros</option>
                <option value="mascotas">mascotas</option>
                <option value="empleos">empleos</option>
            </select>

            <input type="text" placeholder="Nombre del producto">
            <input type="text" placeholder="Precio">

           <div class="adjuntar">
            <p>Adjuntar imagenes</p>
            <img src="../../assets/images/Contenido/Adjuntar.svg" alt="">
           </div>

           <div class="descripcion">
            <p>Descripción</p>
            <textarea name="" maxlength="2000" id="descripcion" cols="30" rows="10"></textarea>
            <div style="display: flex; justify-content: flex-end;">
                <p id="contador-descripcion">0</p><p>/2000</p>
            </div>
           </div>

            <button type="submit">Crear producto</button>

        </form>

    </div>
</div>


<style>

@font-face {
    font-family: 'Cross-bold';
    src: url('../assets/crossten-cufonfonts/CrosstenExtraBold.otf') format('truetype');
  }

  @font-face {
    font-family: 'Cross-normal';
    src: url('../assets/crossten-cufonfonts/CrosstenLight.otf') format('truetype');
  }  

p{
    font-weight: bold;
    font-family: 'Cross-normal';
    font-size: 14px;
    margin: 0;
}

span, strong{
    font-family: 'Cross-bold';
}

.screen-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  padding: 0rem 0;
}

.screen-alert .box-alert {
overflow-y: scroll;
  position: relative;
  padding: 1rem 2rem;
  background: #fff;
  width: 350px;
  border-radius: 12px;
  max-height: 90%;
}

.screen-alert .box-alert .cerrar{
  height: 20px;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

h2{
    font-family: 'Cross-bold';
    margin: 0 0 8px 0;
    padding: 0;
    text-align: center;
}



form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form input, select{
    padding: 8px;
    margin: 6px 0;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
}

form select {
    background: #033771;
    color: white;
}

form select option{
    font-family: 'Cross-bold';
    text-transform: capitalize;
    background: white;
    color: black;
    height: 10px;
}

form button{
    margin-top: 12px;
    background: #033771;
    border: none;
    color: white;
    font-size: 16px;
    width: 150px;
    border-radius: 10px;
    padding: 6px;
}

form .adjuntar{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

form .descripcion{
    width: 100%;
}

textarea{
    margin-top: 4px;
    width: 100%;
    resize: none;
    border: 1px solid gray;
}


form .adjuntar img{
    margin-left: 6px;
    height: 25px;
}
</style>