<div class="screen-alert" id="screen-alert">
    <div class="alert-box">
        <img src="../../assets/images/Contenido/Cerrar.svg" alt="" id="x-cerrar-alerta" class="cerrar">

        <div class="top-info">
            <i class="icon-heart"></i>
            <h2>Hervidor de agua</h2>
        </div>

        <img class="producto-img" src="https://falabella.scene7.com/is/image/FalabellaCO/881653694_1?wid=800&hei=800&qlt=70" alt="">

        <div class="precio-ofertas">
            <div class="antes-ahora">
                <p class="precio-ahora">$49.900</p>
                <p class="precio-anterior">$70.000</p>
            </div>
            <div class="descuento-porcentaje">
                30% OFF
            </div>
        </div>

        <div class="descripcion-producto">
            <p class="descripcion-producto-p">
                <strong>¡Ten el agua caliente siempre lista!</strong>
                Podrás disfrutar de una bebida caliente en minutos. <strong>Apagado automatico</strong>
                Capacidad de <strong>1.7L</strong> Para todo tipo de bebidas. Materiales de alta calidad
                <strong>¡No esperes más y disfruta de tus bebidas calientes a la mano!</strong>
            </p>

            <div class="estrellas">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <p>4,7 / 546 reseñas</p>
            </div>

        </div>

        <button>Contactar al vendedor</button>   

    </div>




    <style>
        @import url('../../assets/fontello-5dc59156/css/fontello.css');


        .top-info {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1rem 0 0;
        }

        h2 {
            margin: 0;
            padding: 0;
            font-size: 30px;
        }

        .icon-heart{
            margin-top: 8px;
            color: red;
            font-size: 26px;
        }

        .producto-img{
            padding: 2rem;
        }

        .precio-ofertas{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .antes-ahora{
            display: flex;
            align-items: center;
            width: 80%;
        }

        .precio-ahora{
            font-weight: bold;
            font-size: 28px;
            color: var(--rojo-principal);
        }

        .precio-anterior{
            font-size: 22px;
            text-decoration: line-through;
            color: #bbbbbb;
            font-weight: bold;
        }

        .precio-ofertas p{
            margin: 0;
            margin-right: 12px;
        }


        .descuento-porcentaje{
            background: var(--rojo-principal);
            padding: 4px;
            width: 30%;
            color: white;
            font-size: 14px;
            border-radius: 6px;
            font-family: 'Cross-bold';
            margin-right: 3.5rem;
        }

        .descripcion-producto-p{
            font-size: 14px;
        }

        .producto-img{
            height: 250px;
        }

        .estrellas{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon-star{
            color: rgb(235, 235, 14);
        }

        .estrellas p{
            margin: 0;
            margin-left: 12px;
            font-weight: bold;
        }

        * {
            font-family: 'Cross-normal';
        }

        .screen-alert {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.5);
            position: fixed;
            top: 0;
        }

        .screen-alert .alert-box {
            position: relative;
            padding: 0 1rem;
            background: #fff;
            width: 350px;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            max-height: 90%;
            overflow-y: auto;
        }

        .screen-alert .alert-box .cerrar {
            height: 20px;
            position: absolute;
            top: 10px;
            right: 1rem;
            cursor: pointer;
        }



        h2 {
            font-family: 'Cross-bold';
            margin: 16px 0 8px 0;
            padding: 0;
            text-align: center;
        }


        button {
            margin-top: 12px;
            background: #033771;
            border: none;
            color: white;
            font-size: 18px;
            border-radius: 16px;
            font-weight: bold;
            padding: 6px;
            width: 75%;
            align-self: center;
            margin-bottom: 14px;
        }
    </style>