<div class="screen-alert" id="screen-alert">
    <div class="box-alert">
        <img src="../../assets/images/Contenido/Cerrar.svg" alt="" id="x-cerrar-alerta" class="cerrar">
        <h2>Nuevos clientes</h2>

        <div class="contenedor-padre-nuevos-clientes">
            <div class="nombre-producto">
                <input type="checkbox">
                <div class="dropdown-clientes">
                    <p>Moto Yamaha T500</p>
                    <i class="icon-down-open" id="abrir-lista-clientes"></i>
                </div>
            </div>

            <div class="lista-clientes" id="lista-clientes">
                <div class="cliente">
                    <input type="checkbox">
                    <img src="../../assets/images/Contenido/Imágen.svg" alt="">
                    <p>Laura</p>
                </div>

                <div class="cliente">
                    <input type="checkbox">
                    <img src="../../assets/images/Contenido/Imágen.svg" alt="">
                    <p>Leonardo</p>
                </div>

                <div class="cliente">
                    <input type="checkbox">
                    <img src="../../assets/images/Contenido/Imágen.svg" alt="">
                    <p>Carolina</p>
                </div>
            </div>
        </div>

        <button>Agregar conversación</button>

    </div>
</div>




<style>
screen-alert .screen-alert {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
    }

screen-alert .screen-alert .box-alert {
        position: relative;
        padding: 1rem 2rem 1rem 0.6rem;
        background: #fff;
        width: 300px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;

    }

screen-alert .screen-alert .box-alert .cerrar {
        height: 20px;
        position: absolute;
        right: 1rem;
        cursor: pointer;
    }

screen-alert .contenedor-padre-nuevos-clientes{
        padding: 0 0 0 0.5rem;
    }

screen-alert .nombre-producto{
        display: flex;
        width: 100%;
    }

screen-alert .dropdown-clientes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-left: 10px;
        border-top:1px solid #bbbbbb ;
        border-bottom: 1px solid #bbbbbb;
    }

screen-alert .dropdown-clientes p{
        margin: 8px 0;
        font-family: 'Cross-normal';
    }

screen-alert .lista-clientes{
        display: none;
        width: 90%;
        padding: 4px 0;
        margin-left: 1.8rem;
        border-bottom: 1px solid #bbbbbb;
    }

screen-alert .cliente{
        display: flex;
        align-items: center;
    }


screen-alert .cliente img{
        height: 35px;
        margin-left: 6px;
    }

screen-alert .cliente p{
        margin-left: 6px;
        font-family: 'Cross-bold';
    }

screen-alert h2 {
        font-family: 'Cross-bold';
        margin: 16px 0 8px 0;
        padding: 0;
        text-align: center;
    }


screen-alert button {
        margin-top: 12px;
        background: #033771;
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 10px;
        padding: 6px;
        width: 80%;
        align-self: center;
    }
</style>