<div class="screen-alert" id="screen-alert">
    <div class="box-alert">
        <img src="../../assets/images/Contenido/Cerrar.svg" alt="" id="x-cerrar-alerta" class="cerrar">

        <div class="chats-agregados">
            <h2>Nuevos clientes</h2>
            <p>Se han añadido <strong>4 chats</strong></p>
        </div>

        <div class="listado">

            <div class="compra">
                <strong>Moto Yamaha T500</strong>
                <div class="cliente-compra">
                    <p>Laura</p>
                    <p>$4000</p>
                </div>
            </div>

        </div>

        <div class="total">
            <strong>Total</strong>
            <strong>$16.000</strong>
        </div>

        <div class="pagar">
            <strong>Pagar: </strong>
            <div class="tarjetas">
                <div style="display: flex;">
                    <input type="checkbox">
                    <p>Tarjeta débito BBVA</p>
                </div>
                   
                
                <p>**** **** **** 2376</p>
            </div>

            <button>Agregar nueva tarjeta</button>

        </div>


        <div class="opciones-botones">
            <button>Volver</button>
            <button>Pagar</button>
        </div>

    </div>
</div>




<style>
    @import url('../../assets/fontello-5dc59156/css/fontello.css');


    .screen-alert {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
    }

    .screen-alert .box-alert {
        position: relative;
        padding: 1rem 2rem;
        background: #fff;
        width: 300px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .screen-alert .box-alert .cerrar {
        height: 20px;
        position: absolute;
        right: 1rem;
        cursor: pointer;
        top: 1rem;
    }

    .chats-agregados {
        text-align: center;
    }

    .listado {
        height: 150px;
        overflow-y: auto;
        border-radius: 8px;
        border: 1px solid #bbbbbb;
        width: 100%;
        padding: 0.5rem;
    }

    .cliente-compra {
        padding: 0 1rem;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    .cliente-compra p{
        margin: 4px 0;
    }

    .total{
        padding: 0.5rem 1rem 0 0;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .pagar{
        text-align: start;
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .tarjetas{
        width: 100%;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
    }



    .pagar button{
        margin-top: 12px;
        background: #033771;
        border: none;
        color: white;
        font-size: 14px;
        border-radius: 10px;
        padding: 6px;
        width: 50%;
        align-self: center;
    }

    .opciones-botones{
        margin-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .opciones-botones button{
        margin: 0 12px;
        background: #033771;
        border: none;
        color: white;
        font-size: 18px;
        border-radius: 10px;
        width: 35%;
        padding: 6px 8px;
    }

    .opciones-botones button:nth-child(1){
        background: var(--main-red);
    }


    h2 {
        font-family: 'Cross-bold';
        margin: 16px 0 8px 0;
        padding: 0;
    }


    p {
        font-family: 'Cross-normal';
    }

    strong {
        font-family: 'Cross-bold';
    }
</style>