<section id="room_show_<%= room.id %>">
  <div class="room-header">
    <h3 class="room-title"><%= room.name %> - Room</h3>
    <span class="room-users">Users in this room</span>
  </div>

  <section class="user-section">
    <div class="room-users-list">
      <h3 class="user-list-title">Users in this room</h3>
      <% User.all.each do |user| %>
        <% next unless room.users.include?(user) %>
        <div class="user-item">
          <%= user.first_name %>
        </div>
      <% end %>
    </div>
  </section>
</section>
