<style>
  .main-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #181D31;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .app-logo {
    width: 100px;
  }

  .app-title {
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
    margin-top: 1rem;
  }

  .app-description {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
  }
</style>


<%= turbo_frame_tag 'rooms_controller' do %>
  <main class="main-container">
    <%= render 'shared/side_bar' %>

    <section class="content-container">
      <%= image_tag('chat.png', class: 'app-logo') %>
      <h1 class="app-title">Chat App - Ruby on Rails 7</h1>
      <p class="app-description">This is the chat app with RoR and Hotwire.</p>
    </section>
  </main>
<% end %>
