<%= turbo_frame_tag 'rooms_controller' do %>
  <main class="main-container">
    <%= render 'shared/side_bar' %>

    <section class="content-container">
      <%= image_tag('chat.png', class: 'app-logo') %>
      <h1 class="app-title">Chat App - Ruby on Rails 7</h1>
      <p class="app-description">This is the chat app with RoR and Hotwire.</p>
    </section>
  </main>
<% end %>
