/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require_tree .
 *= require_self
 */

/* from here we start the css for the page */

/* Este sera el header */

/* @font-face {
  font-family: "Cross-bold";
  src: url("crossten-cufonfonts/CrosstenExtraBold.otf") format("truetype");
}

@font-face {
  font-family: "Cross-normal";
  src: url("crossten-cufonfonts/CrosstenLight.otf") format("truetype");
} */

@font-face {
  font-family: 'YourFont';
  src: url('your-font.woff2') format('woff2');
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  max-width: 100vw;
}


:root {
  --verde-principal: #00b473;
  --verde-secundario: green;
  --azul-principal: #033771;
  --padding-secciones: 1rem 4rem;
  --rojo-principal: #9a0505;
}

button {
  border: none;
  background: none;
  border-radius: 6px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  box-shadow: 1px 1px 5px 2px rgb(228, 228, 228);
}

button:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

input {
  border-radius: 1rem;
}

h1,
h2,
h3 {
  font-family: "Cross-bold";
  font-weight: bolder;
}

div,
p,
span {
  font-family: "Cross-normal";
}

strong {
  font-family: "Cross-bold";
  font-weight: bolder;
}

i {
  cursor: pointer;
}

.seccion-busqueda {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seccion-busqueda {
  border-bottom: 2px solid #cccccc;
}

.content-container {
  margin-top: 150px;
}

.navbar {
  min-height: 50px;
}

.main-container {
  padding-top: 180px;
}

.alerta-anuncio {
  font-family: 'Cross-normal';
  background: var(--verde-principal);
  text-align: center;
  color: white;
  font-size: 22px;
  padding: 4px 0;
  letter-spacing: 1px;
}

.nav-home {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 1rem 1.5rem;
}

.nav-home img {
  height: 30px;
}

.nav-home .usuario-acceso {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-home .usuario-acceso button {
  border-radius: 8px;
  padding: 0.4rem 0.6rem;
  color: black;
  font-size: 16px;
  font-family: "Cross-bold";
  box-shadow: none;
}

.boton-verde {
  box-shadow: 1px 1px 5px 2px rgb(228, 228, 228);
  background: var(--verde-principal);
  color: #fff;
  font-weight: 100;
}

.nav-link-buttons {
  display: flex;
}

footer {
  background: var(--verde-principal);
  padding: 8px;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  font-family: 'Cross-normal';
  margin: 0;
  color: white;
}

.seccion-busqueda {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-banner,
.productos,
.seccion-por-que-elegirnos {
  z-index: 500;
}

.seccion-busqueda img {
  height: 30px;
}

.nav-home .usuario-acceso .boton-azul {
  border-radius: 2rem;
  background: var(--azul-principal);
  margin: 0;
  font-size: 1.2rem;
  padding: 8px 2rem;
  font-family: "Cross-bold";
  font-weight: bolder;
  color: white;
}


.seccion-busqueda .input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 1rem 0;
  position: relative;
}

.seccion-busqueda .input-box input {
  width: 100%;
  border: 1px solid gray;
  padding: 14px 2rem;
  border-radius: 2.5rem;
  box-shadow: 1px 1px 8px 2px rgb(199, 199, 199);
  font-size: 24px;
}

.seccion-busqueda .input-box .icon-search {
  position: absolute;
  right: 0;
  font-size: 24px;
}

.seccion-busqueda .categorias .categorias-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.seccion-busqueda .categorias .categorias-box .categorias-item-box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.seccion-busqueda .categorias .categorias-box .categorias-item-box img {
  width: 90px;
  height: 90px;
}

.subnavbar {
  display: flex;
  justify-content: center;
}

.subnavbar .usuario-acceso .boton-verde {
  box-shadow: 1px 1px 5px 2px rgb(228, 228, 228);
  background: var(--verde-principal);
  color: #fff;
  font-weight: 100;
}

.search-section {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-section .logo {
  margin-right: 1rem;
}

.search-section .input-box {
  flex: 1;
}

.search-section .input-box input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid gray;
  padding: 14px 2rem;
  border-radius: 2.5rem;
  box-shadow: 1px 1px 8px 2px rgb(199, 199, 199);
  font-size: 24px;
}

.search-section .quiero-vender-link {
  margin-left: 1rem;
}

.seccion-busqueda .input-box input {
  width: 100%;
  border: 1px solid gray;
  padding: 14px 2rem;
  border-radius: 2.5rem;
  box-shadow: 1px 1px 8px 2px rgb(199, 199, 199);
  font-size: 24px;
}

.mobile-list-icon {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.icon-search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.burger {
  display: none;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1224px;
  width: 92%;
  margin: 0 auto;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  font-size: 2rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-link {
  transition: 0.3s ease-out;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: black;
}

.boton-azul {
  box-shadow: 1px 1px 5px 2px rgb(228, 228, 228);
  background: var(--azul-principal);
  color: #fff;
  font-weight: 100;
  border-radius: 0.25rem;
  text-align: center;
  padding: 8px;
}


/* ============================ PRODUCT ================================= */

.product-page {
  padding: 1rem 5rem;
}

.product-page h1 {
  margin: 10px;
  padding: 0;
}

.product-about {
  margin: .5rem 0 1.5rem;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.radius-50 {
  border-radius: 50%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.px-05 {
  padding: 0;
}

.align-center {
  align-items: center;
}

.m-0 {
  margin: 0;
}


.full-img {
  width: 100%;
  min-width: 50vw;
}

.img-flex-divided {
  width: 45%;
  margin: .3rem;
}

.house-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 0; */
}

.house-by h2,
p {
  margin: 0;
}

.house-by img {
  width: 4rem;
  height: 4rem;
}

.house-by p {
  padding: 0;
  margin: 0 .4rem;
}

img {
  width: 100%;
}

.price {
  position: sticky;
  bottom: 0;
  background: white;
  border-top: 1px solid gray;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  padding: 10px;
}

.price-info p {
  margin: .4rem 0;
}

.price button {
  border: 0;
  width: 8rem;
  border-radius: .4rem;
  min-height: 2.5rem;
  color: white;
  font-weight: bold;
  background: linear-gradient(to right, rgb(204, 22, 159), rgb(196, 4, 132));
}



@media(max-width:1024px) {
  .hamburger {
    display: block;
  }

  .main-container {
    padding-top: 200px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1000;
    padding-bottom: 100%;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}


/*------------------- TABLET ----------------------------- */

@media (max-width: 992px) {
  :root {
    --padding-secciones: 2rem;
  }

  .main-container {
    padding-top: 200px;
  }

  .banner-home .banner-presentacion {
    padding: 0 1rem;
    width: 100%;
    margin: 0;
  }

  .seccion-busqueda .input-box input {
    width: 90%;
  }

  .seccion-busqueda .input-box .icon-search {
    right: 14%;
  }

  .seccion-busqueda .categorias {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .seccion-busqueda .categorias .categorias-box {
    width: 90%;
    overflow-x: scroll;
    overflow-y: hidden;
    /* height: calc(80px + 1.5rem); */
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .seccion-busqueda .categorias .categorias-box .categorias-item-box p {
    margin: 12px;
  }

  .seccion-busqueda .categorias .categorias-box .categorias-item-box .categorias-item {
    min-width: 40px;
    min-height: 40px;
  }

  .principal {
    padding: 1rem;
  }

  .four-images {
    display: none;
  }

  .full-img {
    min-width: 16rem;
  }
}

/* ---------------MOBILE ------------------- */
@media only screen and (max-width: 600px) {
  .main-container {
    padding-top: 160px;
  }

  .nav-home {
    display: none;
  }

  .burger {
    display: contents;
  }

  .seccion-busqueda {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content-container {
    margin-top: 150px;
  }

  .navbar {
    min-height: 50px;
  }

  .quiero-vender-link {
    display: none;
  }

  .search-section {
    width: 90%;
  }

  .seccion-busqueda .categorias .categorias-box .categorias-item-box img {
    width: 53px;
    height: 53px;
  }

  .icon-search-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .mobile-list-icon {
    margin-top: 5px;
  }

  .product-link {
    text-decoration: none;
    color: inherit;
  }

  .product-page {
    padding: 0.05rem;
  }

  .price {
    position: sticky;
    bottom: 0;
    background: white;
    border-top: 1px solid gray;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
  }
}