/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header{
  display: flex;
  justify-content: start;
  background-color: aliceblue;
  width: 100%;

  
}
.logo{
  width: 50px;
  height: 50px;
  align-items: center;
}
.nav-items-bar {
  display: inline-block;
  padding: 20px;
  align-items: center;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #000;
  text-decoration-color: aquamarine;
}
.header-bottom{
  padding: 20px;
  background-color: #FAF0E6;
  align-items: center;

}
.nav-search{
  padding: 20px;
  display: inline-block;
}
.search-ui{
  width: 300px;
  height: 40px;
  border-radius: 10px 10px;
  border: none;
  color: #F1F0E8;
  padding-left: 5px;
}
 a .nav-items-bar {
  font-weight: 400;
 }


* {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 padding: 0;
 margin: 0;
}