.alert-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.signin-box-form input[type="tel"],
.signin-box-form input[type="text"],
.signin-box-form input[type="email"] {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.signin-box-form input[type="submit"] {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #033771;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.signin-button {
  padding-bottom: 30px;
}

.signin-box-form input[type="submit"]:hover {
  background-color: #022b5a;
}

.signin-box-form input[type="submit"]:focus {
  outline: none;
  border: 2px solid #022b5a;
}

.signin-box-form {
  padding: 20px;
  width: 100%;
}

#sign-in-btn,
#create-account-btn {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #033771;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}

#create-account-btn {
  margin-bottom: 10px;
}

.alert-box>div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alert-box>div>img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .alert-box {
    flex-direction: column;
  }

  .alert-box .signin-box-form {
    width: 100%;
    flex: 1;
  }
}