.room-box {
  display: flex;
  width: 100%;
  height: 69vh;
  background-color: #181D31;
}

.new-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100vh;
}