.banner-home {
  position: relative;
  height: 80vh;
}

.banner-home img {
  top: 0;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.banner-home .banner-presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 55%;
  height: 100%;
  margin-left: 6vw;
}

.banner-home .banner-presentacion h1 {
  margin: 0;
  padding: 0;
  font-size: clamp(26px, 2.8rem, 3rem);
}

.banner-home .banner-presentacion p {
  margin: 0.8rem;
  padding: 0;
  font-size: clamp(18px, 1.5rem, 1.8rem);
}

.banner-home .banner-presentacion .boton-azul {
  border-radius: 2rem;
  background: var(--azul-principal);
  margin: 0;
  font-size: 2.2rem;
  padding: 8px 2rem;
  font-family: "Cross-bold";
  font-weight: bolder;
  color: white;
}

.seccion-productos-destacados .contenido-destacados,
.seccion-productos-destacados .contenido-ofertas,
.seccion-grandes-ofertas .contenido-destacados,
.seccion-grandes-ofertas .contenido-ofertas {
  justify-content: center;
}

.seccion-productos-destacados,
.seccion-grandes-ofertas {
  padding: var(--padding-secciones);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion-productos-destacados h2,
.seccion-grandes-ofertas h2 {
  margin: 12px 0;
  text-align: center;
}

.seccion-productos-destacados .contenido-destacados,
.seccion-productos-destacados .contenido-ofertas,
.seccion-grandes-ofertas .contenido-destacados,
.seccion-grandes-ofertas .contenido-ofertas {
  border-top: 1px solid rgb(189, 189, 189);
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  max-height: 380px;
}

.seccion-productos-destacados .contenido-destacados .producto-item,
.seccion-productos-destacados .contenido-ofertas .producto-item,
.seccion-grandes-ofertas .contenido-destacados .producto-item,
.seccion-grandes-ofertas .contenido-ofertas .producto-item {
  box-shadow: 1px 1px 5px 2px rgb(192, 192, 192);
  position: relative;
  border-radius: 1.2rem;
  border: 1px solid rgb(201, 201, 201);
  width: 240px;
  padding: 0.8rem;
  margin: 1rem 0;
}

.seccion-productos-destacados .contenido-destacados .producto-item .header-item,
.seccion-productos-destacados .contenido-ofertas .producto-item .header-item,
.seccion-grandes-ofertas .contenido-destacados .producto-item .header-item,
.seccion-grandes-ofertas .contenido-ofertas .producto-item .header-item {
  margin-bottom: 8px;
  text-align: center;
}

.seccion-productos-destacados .contenido-destacados .producto-item .header-item .icon-heart,
.seccion-productos-destacados .contenido-ofertas .producto-item .header-item .icon-heart,
.seccion-grandes-ofertas .contenido-destacados .producto-item .header-item .icon-heart,
.seccion-grandes-ofertas .contenido-ofertas .producto-item .header-item .icon-heart {
  color: rgba(0, 0, 0, 0.445);
  position: absolute;
  left: 12px;
}

.seccion-productos-destacados .contenido-destacados .producto-item .imagen,
.seccion-productos-destacados .contenido-ofertas .producto-item .imagen,
.seccion-grandes-ofertas .contenido-destacados .producto-item .imagen,
.seccion-grandes-ofertas .contenido-ofertas .producto-item .imagen {
  height: 200px;
}

.seccion-productos-destacados .contenido-destacados .producto-item .imagen img,
.seccion-productos-destacados .contenido-ofertas .producto-item .imagen img,
.seccion-grandes-ofertas .contenido-destacados .producto-item .imagen img,
.seccion-grandes-ofertas .contenido-ofertas .producto-item .imagen img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.seccion-productos-destacados .contenido-destacados .producto-item .resenas,
.seccion-productos-destacados .contenido-ofertas .producto-item .resenas,
.seccion-grandes-ofertas .contenido-destacados .producto-item .resenas,
.seccion-grandes-ofertas .contenido-ofertas .producto-item .resenas {
  display: flex;
  justify-content: center;
  position: relative;
}

.seccion-productos-destacados .contenido-destacados .producto-item .resenas span,
.seccion-productos-destacados .contenido-ofertas .producto-item .resenas span,
.seccion-grandes-ofertas .contenido-destacados .producto-item .resenas span,
.seccion-grandes-ofertas .contenido-ofertas .producto-item .resenas span {
  margin: 0 6px;
  font-weight: bold;
}

.seccion-productos-destacados .contenido-destacados .producto-item .resenas .items-sobrepuestos,
.seccion-productos-destacados .contenido-ofertas .producto-item .resenas .items-sobrepuestos,
.seccion-grandes-ofertas .contenido-destacados .producto-item .resenas .items-sobrepuestos,
.seccion-grandes-ofertas .contenido-ofertas .producto-item .resenas .items-sobrepuestos {
  position: absolute;
  display: flex;
  left: 0;
}

.seccion-productos-destacados .contenido-destacados .producto-item .resenas .items-sobrepuestos .icon-star,
.seccion-productos-destacados .contenido-ofertas .producto-item .resenas .items-sobrepuestos .icon-star,
.seccion-grandes-ofertas .contenido-destacados .producto-item .resenas .items-sobrepuestos .icon-star,
.seccion-grandes-ofertas .contenido-ofertas .producto-item .resenas .items-sobrepuestos .icon-star {
  color: rgb(214, 214, 34);
  opacity: 0;
}

.seccion-productos-destacados .contenido-destacados .producto-item .precio-info,
.seccion-productos-destacados .contenido-ofertas .producto-item .precio-info,
.seccion-grandes-ofertas .contenido-destacados .producto-item .precio-info,
.seccion-grandes-ofertas .contenido-ofertas .producto-item .precio-info {
  text-align: center;
}

.seccion-productos-destacados .contenido-destacados .producto-item .precio-info span,
.seccion-productos-destacados .contenido-ofertas .producto-item .precio-info span,
.seccion-grandes-ofertas .contenido-destacados .producto-item .precio-info span,
.seccion-grandes-ofertas .contenido-ofertas .producto-item .precio-info span {
  font-weight: bold;
  color: red;
}

.seccion-productos-destacados .contenido-destacados .producto-item .precio-info button,
.seccion-productos-destacados .contenido-ofertas .producto-item .precio-info button,
.seccion-grandes-ofertas .contenido-destacados .producto-item .precio-info button,
.seccion-grandes-ofertas .contenido-ofertas .producto-item .precio-info button {
  background: var(--azul-principal);
  width: 100%;
  padding: 6px 0;
}

.seccion-productos-destacados .contenido-destacados .producto-item .resenas,
.seccion-productos-destacados .contenido-destacados .producto-item button,
.seccion-productos-destacados .contenido-ofertas .producto-item .resenas,
.seccion-productos-destacados .contenido-ofertas .producto-item button,
.seccion-grandes-ofertas .contenido-destacados .producto-item .resenas,
.seccion-grandes-ofertas .contenido-destacados .producto-item button,
.seccion-grandes-ofertas .contenido-ofertas .producto-item .resenas,
.seccion-grandes-ofertas .contenido-ofertas .producto-item button {
  margin: 4px 0;
}

.seccion-productos-destacados button,
.seccion-grandes-ofertas button {
  margin-top: 16px;
  background: var(--verde-principal);
  border-radius: 1rem;
  width: 120px;
}

.seccion-por-que-elegirnos {
  padding: var(--padding-secciones);
}

.seccion-por-que-elegirnos h2 {
  font-size: 40px;
  text-align: center;
  margin: 18px;
}

.seccion-por-que-elegirnos .por-que-elegirnos-content {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.seccion-por-que-elegirnos .por-que-elegirnos-content .item-razones-para-comprar {
  width: 20vw;
  height: 250px;
  text-align: center;
}

.seccion-por-que-elegirnos .por-que-elegirnos-content .item-razones-para-comprar h3 {
  font-size: 22px;
}

.seccion-por-que-elegirnos .por-que-elegirnos-content .item-razones-para-comprar img {
  width: 100%;
  height: 35%;
}

/* Style the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Style the modal content */
.modal-content {
  border-radius: 10px;
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
}

/* Style the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal .screen-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
}

.modal .screen-alert .box-alert {
  position: relative;
  padding: 1rem 2rem;
  background: #fff;
  width: 250px;
  border-radius: 12px;
}

.modal form {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal form input {
  padding: 8px;
  margin: 6px 0;
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
}

.modal form .button-popup {
  margin-top: 12px;
  background: #033771;
  border: none;
  color: white;
  font-size: 16px;
  width: 150px;
  border-radius: 10px;
  padding: 6px;
}

.modal .close {
  width: 25px;
  height: 25px;
  color: #aaa;
  float: right;
  font-weight: bold;
}



@media (max-width: 992px) {
  :root {
    --padding-secciones: 2rem;
  }

  .banner-home .banner-presentacion {
    padding: 0 1rem;
    width: 100%;
    margin: 0;
  }

  .seccion-productos-destacados .contenido-destacados,
  .seccion-productos-destacados .contenido-ofertas,
  .seccion-grandes-ofertas .contenido-destacados,
  .seccion-grandes-ofertas .contenido-ofertas {
    justify-content: center;
  }

  .seccion-por-que-elegirnos .por-que-elegirnos-content .item-razones-para-comprar {
    width: 100vw;
    height: 250px;
    margin: 12px 0;
  }

  /* Style the modal */
  .modal {
    z-index: 1000;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  /* Style the modal content */
  .modal-content {
    border-radius: 10px;
    background-color: #fff;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 100%;
    height: 300px;
  }

  /* Style the close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .modal form input {
    padding: 8px;
    margin: 6px 0;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
  }

  .modal .button-popup {
    margin-top: 12px;
    background: #033771 !important;
    border: none;
    color: white;
    font-size: 16px;
    width: 150px;
    border-radius: 10px;
    padding: 6px;
  }

  .modal .close {
    width: 25px;
    height: 25px;
    color: #aaa;
    float: right;
    font-weight: bold;
  }
}