<div class="container-fluidProduct">
  <h2>Crear nuevo Producto</h2>
  <%= render "form", product: @product %>
  <br>
  <div class="btnPosition">
    <%= link_to "Volver a tus productos", products_path, class:"btnProduct" %>
  </div>
</div>
